@{
    Layout = "~/_SiteLayout.cshtml";
}

@section featured {
<section class="featured" id="home-features">
    <div id="homeCarousel">
        <div id="homeCarouselWindow">
            <figure class="slide">
                <img src="~/Images/img-1.jpg" />
                <figcaption>
                    <h3>Availability</h3>
                    Access infrascrture on public cloud via email
                </figcaption>
            </figure>
            <figure class="slide">
                <img src="~/Images/img-2.jpg" />
                <figcaption>
                    <h3>Flexibility and automation</h3>
                    Automate creation and disposal of infrastructure on a schedule
                </figcaption>
            </figure>
            <figure class="slide">
                <img src="~/Images/img-3.jpg" />
                <figcaption>
                    <h3>Control</h3>
                    Custom software defined data center on cloud
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="display-cards">
        <div class="info-card">
            <a href="#" class="icon-info-outline home-expand"></a>
            <h2>Demo</h2>
            <div>
                Take a tour to see what services, and how neatly Ijpie provides. 
            </div>
        </div>
        <div class="info-card">
            <a href="#" class="icon-info-outline home-expand"></a>
            <h2>Two</h2>
            <div>max</div>
        </div>
        <div class="info-card">
            <a href="#" class="icon-info-outline home-expand"></a>
            <h2>Three</h2>
            <div>max</div>
        </div>
    </div>
</section>
}

<h3>We suggest the following:</h3>

<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        wroom.. wroom.. wroooom.....
    </li>

    <li class="two">
        <h5>Oi</h5>
        lad
    </li>

    <li class="three">
        <h5>woi</h5>
        ward
    </li>
</ol>